---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---
<h2>Breaking News</h2>
 <img src="/images/encampment.jpg" style="width:30%; float:right; margin-left:20px; border:1px solid #ccc; padding:5px;">
<div class="wordwrap">My portfolio of <a href="https://bwog.com/?s=Live+Updates%3A+Gaza+Solidarity+Encampment" 
                        target="_blank">live updates</a> for <i>Bwog</i> about the Columbia Gaza Solidarity Encampments can be found here. I was the lead writer and editor for these pieces. 
  </br>
                        </br>Columbia was the first university out of a wave of hundreds worldwide to be marked with a sea of tents protesting investment in Israel. Due to media attention, the university quickly shut its gates to all non-affiliates. As a result, myself and other Columbia reporters were the only press permitted to document this historic moment firsthand. 
</br> 
  </br>During this time, us student journalists were under immense media scrutiny. <img src="/images/squareimg.jpg" style="width:30%; float:right; margin-left:20px; border:1px solid #ccc; padding:5px;">
 Many were doxed, suspended, or arrested for their duty to report. To protect myself and other writers from these risks, as News Editor I instituted an anonymity policy for breaking news pieces related to this coverage. For this reason, my name is not attached to these articles.</div> 
</br>Ultimately, our articles and social media posts during this period would go on to receive tens of thousands of views each, and even reached up to 10 million views in select cases. 



<h2>Interviews</h2>
<div class="wordwrap"><a href="https://bwog.com/2023/06/malcolm-gladwell-speaks-on-columbia-u-s-news-scandal/" 
                        target="_blank">Malcolm Gladwell</a>, for <i>Bwog</i>.</div>
<div class="wordwrap"><a href="https://bwog.com/2023/10/laura-rosenbury-speaks-on-new-position-as-barnard-president/" 
                        target="_blank">Barnard President Laura Rosenbury</a>, for <i>Bwog</i>.</div>
<img src="/images/hat.jpg" style="width:30%; float:right; margin-left:20px; border:1px solid #ccc; padding:5px;">
<div class="wordwrap"><a href="https://bwog.com/2023/04/outgoing-barnard-president-sian-beilock-reflects-on-her-tenure/" 
                        target="_blank">Dartmouth President Sian Beilock</a>, for <i>Bwog</i>.</div>
<div class="wordwrap"><a href="https://bwog.com/2024/04/michael-thaddeus-speaks-on-recent-student-protests-and-arrests/" 
                        target="_blank">Mathematics Professor & Columbia Whistleblower Michael Thaddeus</a>, for <i>Bwog</i>.</div>

<h2>Fiction & Narrative Nonfiction</h2>
<div class="wordwrap"><a href="/files/pigeon.pdf">"I Love You Pigeon, Be My Bride,"</a> for a workshop at Columbia School of the Arts.</div>
<div class="wordwrap"><a href="/files/faretheewell.pdf">"Fare Thee Well,"</a> for a workshop at Columbia School of the Arts.</div>
<div class="wordwrap"><a href="https://themuseumofamericana.net/stickhaven-by-emma-burris/" 
                        target="_blank">"Stickhaven"</a>, for <i>The Museum of Americana</i>.</div>
<div class="wordwrap"><a href="https://bwog.com/2022/10/how-i-got-recruited-into-a-pyramid-scheme-at-a-barnard-career-fair/" 
                        target="_blank">"How I Got Recruited Into A Pyramid Scheme At A Barnard Career Fair,"</a> for <i>Bwog</i>. (First <i>Bwog</i> article written at age 18.)</div>

<h2>Science Writing</h2>
<div class="wordwrap"><a href="https://talk.crisisnow.com/opinion-prioritizing-adolescent-experiences-of-crisis-mental-healthcare/" 
                        target="_blank">Adolescent Mental Health Thinkpiece</a>, for <i>#CrisisTalk</i>. (Any grammar and syntax errors due to external site editing.) </div> 
<div class="wordwrap"><a href="https://bwog.com/2024/09/the-voyager-golden-record-experience-reflecting-on-our-cosmic-connection/" 
                        target="_blank">The Voyager Golden Record Experience</a>, for <i>Bwog</i>.</div> 
<img src="/images/computer.jpg" style="width:30%; float:right; margin-left:20px; border:1px solid #ccc; padding:5px;">
<a href="/files/stiffreview.pdf">"This Book Will Make You Want to Buy (or Forego...) Life Insurance,"</a> for a science <br>writing workshop.

<h2>Investigative Pieces</h2>
<div class="wordwrap"><a href="https://bwog.com/2024/05/minouche-shafiks-administration-at-london-school-of-economics-sparks-controversy-amidst-columbia-protests/" 
                        target="_blank">Minouche Shafik at London School of Economics</a>, for <i>Bwog</i>.</div>
<div class="wordwrap"><a href="https://bwog.com/2024/03/columbia-club-sports-operations-curtailed-in-wake-of-new-travel-policies-and-funding-restrictions/" 
                        target="_blank">Columbia Sports</a>, for <i>Bwog</i>.</div>
<div class="wordwrap"><a href="https://bwog.com/2023/01/620-w-116th-street-residents-return-to-dorm-with-no-water/" 
                        target="_blank">Local Infrastructure</a>, for <i>Bwog</i>.</div>

<h2>Additional Work for <i>Bwog</i></h2>
<div class="wordwrap">My portfolio of <a href="https://bwog.com/author/emmabu/" 
                        target="_blank">singe-authored pieces</a> for <i>Bwog</i> can be found here.</div> 
<div class="wordwrap">My portfolio of <a href="https://bwog.com/?s=emma+burris" 
                        target="_blank">colaborative pieces</a> for <i>Bwog</i> can be found here.</div> 
These links are limited to articles searchable under my name and are not fully <br>representative of my portfolio. 
<br>
<br>
<div class="wordwrap" style="font-size: 0.875rem;">Presenting about stories of people with lived experience of crisis mental healthcare <br>at the American Public Health Association. Image credits: Hyein Sarah Lee.</div>
<img src="/images/research.jpg" width="600" alt="APHA Poster">
<div class="wordwrap" style="font-size: 0.875rem;">Image credits to photos #1-4: Emma Burris.</div>

<!--{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}


<!--{% include base_path %}


<!--{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

