---
layout: archive
title: "April 17, 2024"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}
<h2>Flags of green and red ripple over dead grass, punctured by the weak orange sunrise. The first of many lights to shine on this place.
</h2>
<h3>The first out of a wave of hundreds of encampments to break ground on campuses across the globe.
</h3>
<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
